<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static "css/Homepage.css" %}"/>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <style media="screen">
    .body{
      font-family: 'Acme',sans-serif;
    }
    .RegisterId{
      color:red;
    }
    .register_name{
      width: 200px;
      height: 30px;
    }
    .register_username{
      width:200px;
      height:30px;
    }
    .register_password{
      width: 300px;
      height:30px;
    }
    #button{
      width: 200px;
      height:30px;
    }
  </style>
  <body class="body">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-inverse" href="Homepage.html">Welcome</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="Homepage.html">Homepage</a></li>
          <li><a href="Login.html">Log In</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        <h1>Register</h1>
        <p>If you don't have an account, you can register here!</p>
        <p>Please enter your name and password!</p>
      </div>
        {% if success %}
        <div class="container">
          <div class="alert alert-success" role="alert">Congratulations! You successfully registered an account!</div>
          <div class="alert alert-info" role="alert">Please record your User Name and Password.</div>
        </div>
        {% endif %}
          <p>Your username should be unique!</p>
          <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" id='button'value="Submit">
        </form>
    </div>
  </body>
</html>
